.cards > ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 900px; /* make layout smaller */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* smaller cards */
  gap: 16px; /* reduce space */
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 12px; /* smaller padding */
  font-size: 14px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  max-height: 160px; /* smaller image */
}